default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: Rails.application.credentials.dig(:development, :database_name)
  host: Rails.application.credentials.dig(:development, :database_host)
  username: Rails.application.credentials.dig(:development, :database_username)
  password: Rails.application.credentials.dig(:development, :database_password)
  port: Rails.application.credentials.dig(:development, :database_port)
